@import url('fonts.css');

@font-face {
    font-family: 'MesloFont';
    src: url('./fonts/MesloLGS-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.intro-hi{
  color: #d79921;
  font-family: "MesloFont";
  font-weight: bold;
}
.intro-name{
  color: #cc241d;
  font-family: "MesloFont";
  font-weight: bold;
}
.intro-middle-text{
  color: #fbf1c7;
}
.portrait-img{
  width: 20vw;
  height: 52vh;
  border-radius: 60px;
  border-color: #d79921;
  border-width: 5px;
  border-style: solid;
}
.horizontal-line{
  position:absolute;
  border-top: 0.5px solid #fbf1c7;
  width: 100%; /* Spans the full width of its parent */
  border-radius: 2px;
  top:50%;
}
.work-section-title-line-div{
  position:relative;
  width: 65%;

}
.work-section-title{
  width: 100vw;
}
.work-section{
  margin-top: 5vh;
  width: 100%;
  place-items: center;
}
.work-section-work-div{
  width: 20%;
  align-items: end;
  text-align:end;
}
.work-stack{
  width: 60%;
}
.work-card{
  background-color: #282828;
}
.project{
    border-radius: 5px;
    border-width: 30px;
    border-color: #d79921;
    width: 100%;
}
h3 {
  font-family: "MesloFont";
  text-transform: lowercase;
  color: #fbf1c7;
  font-size: 13px;
}

h4 {
  font-family: "Meslofont";
  color:#fbf1c7;
  font-size: 30px;
}

h5{
  font-family: "Meslofont";
  color:#fbf1c7;
  font-size: 30px;
}

.intro-text {
  display: inline-block;              /* allow width to animate */
  font-size: 45px;
  overflow: hidden;                   /* hide until "typed" */
  border-right: .15em solid orange;   /* cursor */
  white-space: nowrap;
  letter-spacing: .15em;
  width: 0;                           /* start hidden */
  animation:
    typing 2.5s steps(22, end) forwards,
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to   { width: 22ch }                /* adjust chars to your text length */
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
