.app-bar{
  place-content: left;
  width: 100vw;
  top:0;
}
.menu-bar{
  top:0
}
.menu-options-stack{
  width: 67vw;
}
.menu-right-bar{
  width: 33vw;
}
.appbar-text {
  font-family: "MesloFont";
  text-transform: lowercase;
  color: #fbf1c7;
  font-size: 13px;
}